.footer {
    height: 120px;
    background-color: #2C343E;
}

.footer__info {
    display: flex;  
    align-items: center;
    padding-top: 30px;
    margin-top: 168px;
}

.nav__list {
    padding-left: 103px;
}

.footer__link {
    margin-left: 368px;
}