.our__info {
  display: flex;
  align-items: center;
}

.our__info {
  margin-top: 150px;
  margin-left: 85px;
}

.our__h2 {
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 1000;
  line-height: 48px;
  color: #333d4b;
  padding-left: 150px;
  margin-bottom: 30px;
}

.our__text {
  width: 540px;
  font-family: 'Barlow';
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333D4B;
  margin-left: 150px;
}
